<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.clockwidget" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        >

        <receiver
            android:name=".ClockWidget"
            android:label="@string/clock_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="app.clockwidget.ClockWidget.CLOCK_WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="app.clockwidget.provider"
                android:resource="@xml/clock_widget" />
        </receiver>

        <service android:name=".ClockWidget$UpdateService" />

    </application>

</manifest>
